.business-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 500px; /* Width of each card */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px; /* Margin around each card */
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .business-page img {
    width: 300px;
    border-radius: 5px;
    height: auto;
  }
  
  .business-page h2 {
    font-size: 1.5rem;
    margin: 8px 0;
    color: #333;
  }
  
  .business-page p {
    margin: 4px 0;
    color: #666;
  }
  